<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<!-- Mirrored from getbootstrapadmin.com/remark/material/iconbar//admin/dashboard by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 May 2021 15:11:00 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap material admin template">
  <meta name="author" content="">

  <title>Dashboard | Remark Material Admin Template</title>

  <link rel="apple-touch-icon" href="/admin/iconbar/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/admin/iconbar/assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/admin/global/css/bootstrap.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/css/bootstrap-extend.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/iconbar/assets/css/site.minfd53.css?v4.0.1">

  <!-- Skin tools (demo site only) -->
  <link rel="stylesheet" href="/admin/global/css/skintools.minfd53.css?v4.0.1">
  <script src="/admin/iconbar/assets/js/Plugin/skintools.minfd53.js?v4.0.1"></script>

  <!-- Plugins -->
  <link rel="stylesheet" href="/admin/global/vendor/animsition/animsition.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/asscrollable/asScrollable.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/switchery/switchery.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/intro-js/introjs.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/slidepanel/slidePanel.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/flag-icon-css/flag-icon.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/vendor/waves/waves.minfd53.css?v4.0.1">

  <!-- Plugins For This Page -->

  <!-- Page -->
  <link rel="stylesheet" href="/admin/iconbar/assets/examples/css/dashboard/v1.minfd53.css?v4.0.1">

  <!-- Fonts -->
  <link rel="stylesheet" href="/admin/global/fonts/material-design/material-design.minfd53.css?v4.0.1">
  <link rel="stylesheet" href="/admin/global/fonts/brand-icons/brand-icons.minfd53.css?v4.0.1">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700">
  <script src="/admin/global/vendor/breakpoints/breakpoints.minfd53.js?v4.0.1"></script>
  <script>
    Breakpoints();
  </script>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/loading/loading.css">
  <%- style %>
</head>

<body class="animsition dashboard">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
        data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center">
        <img class="navbar-brand-logo" src="/admin/iconbar/assets/images/logo.png" title="Remark">
        <span class="navbar-brand-text hidden-xs-down"> Remark</span>
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                <span class="sr-only">Toggle menubar</span>
                <span class="hamburger-bar"></span>
              </i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down" id="toggleFullscreen">
            <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
          <li class="nav-item hidden-float">
            <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
              role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
              data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="<%= user.avatar %>" alt="...">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="/admin/profile" role="menuitem"><i class="icon md-account"
                  aria-hidden="true"></i> Profile</a>
              <!-- <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card"
                  aria-hidden="true"></i> Billing</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings"
                  aria-hidden="true"></i> Settings</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i>
                Logout</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
              aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon md-notifications" aria-hidden="true"></i>
              <span class="badge badge-pill badge-danger up">5</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <div class="dropdown-menu-header">
                <h5>NOTIFICATIONS</h5>
                <span class="badge badge-round badge-danger">New 5</span>
              </div>

              <div class="list-group">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">A new order has been placed</h6>
                          <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon md-account bg-green-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Completed the task</h6>
                          <time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon md-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Settings updated</h6>
                          <time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon md-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Event started</h6>
                          <time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon md-comment bg-orange-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Message received</h6>
                          <time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu-footer">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon md-settings" aria-hidden="true"></i>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  All notifications
                </a>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar site-menubar-light">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">
            <li class="site-menu-item active" data-path="dashboard">
              <a href="/admin/dashboard">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
            <li class="site-menu-item has-sub" data-path="notification">
              <a href="javascript:void(0)">
                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                <span class="site-menu-title">Notification</span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a href="/admin/notification/post">
                    <span class="site-menu-title">Thông báo</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a href="/admin/notification/category">
                    <span class="site-menu-title">Danh mục</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="site-menu-item active" data-path="account">
              <a href="/admin/account">
                <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
                <span class="site-menu-title">Account</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Page -->
  <div class="page">
    <div class="page-content container-fluid">
      <div class="box-loading load-data" style="display: none;">
        <div class="loadingio-spinner-rolling-lwtpylw27h">
          <div class="ldio-5lswg297lfp">
            <div>
            </div>
          </div>
        </div>
      </div>
      <%- body %>
    </div>
  </div>
  <!-- End Page -->


  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2021 <a
        href="https://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by <a
        href="https://themeforest.net/user/creation-studio">Creation Studio</a>
    </div>
  </footer>
  <!-- Core  -->
  <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="/admin/global/vendor/babel-external-helpers/babel-external-helpersfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/jquery/jquery.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/popper-js/umd/popper.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/bootstrap/bootstrap.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/animsition/animsition.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/mousewheel/jquery.mousewheel.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/asscrollbar/jquery-asScrollbar.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/asscrollable/jquery-asScrollable.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/ashoverscroll/jquery-asHoverScroll.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/waves/waves.minfd53.js?v4.0.1"></script>

  <!-- Plugins -->
  <script src="/admin/global/vendor/switchery/switchery.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/intro-js/intro.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/screenfull/screenfull.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>

  <!-- Plugins For This Page -->
  <!-- <script src="/admin/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script> -->

  <!-- Scripts -->
  <script src="/admin/global/js/State.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Component.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Base.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Config.minfd53.js?v4.0.1"></script>

  <script src="/admin/iconbar/assets/js/Section/Menubar.minfd53.js?v4.0.1"></script>
  <script src="/admin/iconbar/assets/js/Section/Sidebar.minfd53.js?v4.0.1"></script>
  <script src="/admin/iconbar/assets/js/Section/PageAside.minfd53.js?v4.0.1"></script>
  <script src="/admin/iconbar/assets/js/Plugin/menu.minfd53.js?v4.0.1"></script>

  <!-- Config -->
  <script src="/admin/global/js/config/colors.minfd53.js?v4.0.1"></script>
  <script src="/admin/iconbar/assets/js/config/tour.minfd53.js?v4.0.1"></script>
  <script>
    Config.set('assets', 'assets');
  </script>

  <!-- Page -->
  <script src="/admin/iconbar/assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>

  <script src="/admin/global/js/Plugin/matchheight.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin/jvectormap.minfd53.js?v4.0.1"></script>
  <script src="/admin/global/js/Plugin/peity.minfd53.js?v4.0.1"></script>


  <script src="/admin/iconbar/assets/examples/js/dashboard/v1.minfd53.js?v4.0.1"></script>
  <script>
    // set role
    const role = "<%= user.roleId.name %>";
    localStorage.setItem('role', role);


    // active menu item 
    const menuItems = document.querySelectorAll('.site-menu-item');
    const path = location.href;
    console.log(path, 'path');
    menuItems.forEach(item => {
      item.classList.remove('active');
      let pathItem = item.dataset.path;
      if (path.indexOf(pathItem) != -1) {
        item.classList.add('active');
      }
    })

  </script>
  <script src="/js/app.js"></script>

  <%- script %>
</body>


<!-- Mirrored from getbootstrapadmin.com/remark/material/iconbar//admin/dashboard by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 May 2021 15:12:40 GMT -->

</html>